
    .account-section {
      background-color: var(--bg);
      padding: 60px 80px;
    }

    .account-title {
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      color: #000;
      margin-bottom: 40px;
    }

    .account-container {
      display: flex;
      justify-content: center;
      gap: 100px;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    /* Left Sidebar Buttons */
    .account-sidebar {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .sidebar-btn {
      width: 350px;
      padding: 20px 60px;
      background: #fff;
      border: 1px solid #111;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: var(--shadow);
    }

    .sidebar-btn:hover {
      background-color: #ff3b30;
      color: #fff;
    }

    .sidebar-btn.active {
      background-color: #ff3b30;
      color: #fff;
      border: 1px solid black ;
    }

    /* Right Form Area */
    .account-form {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .form-group label {
     
      margin-bottom: 8px;
      font-size: 18px;
    }

    .form-group input {
      padding: 14px;
      border: 1px solid black;
      border-radius: 5px;
     background-color: #ff3b30;
      color: #fff;
      font-size: 18px;
      outline: none;
      box-shadow: var(--shadow);
    }

    .form-group input::placeholder {
      color: #fff;
      opacity: 0.85;
    }

    /* Forget Password link */
    .forget-link {
      position: absolute;
      right: 0;
      bottom: -25px;
      color: #000;
      font-size: 19px;
      text-decoration: none;
    }

    .forget-link:hover {
      text-decoration: underline;
    }

    /* Update Button */
    .update-btn {
      width: 220px;
      padding: 14px;
   background-color: #ff3b30;
      border: 1px solid black;
      color: #fff;
      font-size: 17px;
      
      border-radius: 5px;
      cursor: pointer;
      align-self: flex-start;
      box-shadow: var(--shadow);
      transition: 0.3s;
    }

    .update-btn:hover {
      background-color: #e53228;
    }

    /* Success Message */
    .success-message {
      display: none;
      color: green;
      font-weight: 600;
      margin-top: 10px;
    }
